.App {
  text-align: center;
  background-color: #f6f8fa;
  width: fit-content;
}

.VerticalFrame {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.horizontalFrame {
  display: flex;
  flex-direction: column;
  width: 100%;
}
